<IfModule mod_rewrite.c>
    RewriteEngine on
    # Redireciona tudo que entrar em /base_projeto para /base_projeto/public
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>
